//IMPORT WSZYSTKICH STYLI

//import fonts

/* @font-face kit by Fonts2u (https://fonts2u.com) - Source Sans Pro Black */ 
@font-face {font-family: "Source Sans Pro Black";
  src: url("../fonts/SourceSansPro-Black.eot") format("eot"),url("../fonts/SourceSansPro-Black.woff") format("woff"),url("../fonts/SourceSansPro-Black.ttf") format("truetype"),url("../fonts/SourceSansPro-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;}

/* @font-face kit by Fonts2u (https://fonts2u.com) - Source Sans Pro Semibold */ 
@font-face {font-family: "Source Sans Pro Semibold";
  src: url("../fonts/SourceSansPro-Semibold.eot") format("eot"),url("../fonts/SourceSansPro-Semibold.woff") format("woff"),url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"),url("../fonts/SourceSansPro-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;}

/* @font-face kit by Fonts2u (https://fonts2u.com) - Source Sans Pro Bold */ 
@font-face {font-family: "Source Sans Pro Bold";
  src: url("../fonts/SourceSansPro-Bold.eot") format("eot"),url("../fonts/SourceSansPro-Bold.woff") format("woff"),url("../fonts/SourceSansPro-Bold.ttf") format("truetype"),url("../fonts/SourceSansPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;}

/* @font-face kit by Fonts2u (https://fonts2u.com) - Source Sans Pro Regular */ 
@font-face {font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.eot") format("eot"),url("../fonts/SourceSansPro-Regular.woff") format("woff"),url("../fonts/SourceSansPro-Regular.ttf") format("truetype"),url("../fonts/SourceSansPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;}

//@import 'partials/settings';
@import 'partials/_normalize.scss';
@import 'partials/_variables.scss';
@import 'partials/_global.scss';
@import 'partials/_layout.scss';
@import 'partials/_typography.scss';

@import 'pages/homepage.scss';
@import 'pages/search.scss';
@import 'pages/discover.scss';