//STYLE DLA PODSTRONY DISCOVER

.discover-wrapper {
  .title{
    margin-bottom: 50px;

    h2 {
      font-family: $mainFontSemiBold;
      font-size: 38px;
      letter-spacing: 7px;
      // margin-bottom: 50;
    }

    h6 {
      font-family: $mainFontSemiBold;
      font-size: 18px;
      letter-spacing: 7px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}

@media (max-width: 576px){
  .discover-wrapper {
    .title{
      h2 {
        font-size: 34px;
      }

      h6 {
        font-size: 16px;
      }
    }
  }
}