//STYLE DLA PODSTRONY DISCOVER

.discover-wrapper {
  .title{
    margin-bottom: 50px;

    h2 {
      font-family: $mainFontSemiBold;
      font-size: 40px;
      letter-spacing: 7px;
      // margin-bottom: 50;
    }

    h6 {
      font-family: $mainFontSemiBold;
      font-size: 22px;
      letter-spacing: 5px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 576px) {
  .discover-wrapper {
    .title{
      h2 {
        font-size: 6vw;
        letter-spacing: 2vw;
      }
  
      h6 {
        font-size: 3vw;
        letter-spacing: 7px;
      }
    }
  }
}