.subscribe .splash {
  background-image: url('../../images/subscribe.jpg');

  .row.one {
    position: relative;
    width: 100vw;
    height: 100vh;

    .row.two {
      position: relative;
      width: 100vw;
      height: 100vh;
    }
  }
}

.image-author {
  position: absolute;
  width: 25%;
  top: 15%;
  right: 17%;
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.name-author {
  position: absolute;
  top: 42%;
  right: 40%;
  z-index: 2;
  font-size: 95px;
  font-family: $titleFontBold;
  letter-spacing: 20px;
  padding: 0;
  width: 343px;

  .surname{
    position: absolute;
    right: -24%;
    top: 72%;
    width: 343px;

    span {
      color: #CF383E;
    }
  }
}

.button-join {
  position: absolute;
  padding: 0;
  width: 250px;
  right: 65%;
  top: 57%;

  .btn {
    padding: 20px 18px;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: $mainFontSemiBold;
    width: 250px;
  }
}

.description{
  position: absolute;
  top: 80%;
  right: 16%;
  padding: 0;
  font-family: $mainFontSemiBold;
  font-size: 26px;
  letter-spacing: 8px;
  width: 70%;
    
  p {
    margin-bottom: 5px;    
  }
}

.sub-title{
  position: absolute;
  top: -6%;
  letter-spacing: 15px;

  h2 {
    font-size: 4vw;
    font-family: $mainFontSemiBold;

    span{
      font-size: 4vw;
      font-family: $titleFontBold;
    }
  }
}

.footer .container {
  margin-bottom: 0;
  font-family: $regularFont;
  letter-spacing: 2px;
}

.song-categories-filters{
  display: flex;
  text-align: left;
  font-family: $regularFont;
  letter-spacing: 1px;
  justify-content: center;
  padding: 0;
  font-size: 16px;

  p {
    margin: 0;
    font-family: $mainFontSemiBold;
    padding-right: 5px;
  }

  .list-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 2px;
      padding-left: 2px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

li:not(:last-child)::after {
  content: ',';
}

@media (max-width: 1500px){
  .image-author {
    right: 16%;
  }

  .name-author {
    right: 34.3%;
    font-size: 5.5vw;
    letter-spacing: 15px;
  
    .surname{
      right: -20%;
      top: 67%;
    }
  }

  .description{
    top: 80%;
    right: 15%;
  }

  .button-join {
    width: 200px;
  
    .btn {
      padding: 18px;
      font-size: 26px;
      letter-spacing: 4px;
      width: 200px;
    }
  }
}

@media (max-width: 1400px){
  .image-author {
    width: 27%;
    right: 13%;
  }

  .name-author {
    right: 32.2%;
  }

  .description{
    top: 75%;
    right: 12%;
  }

  .sub-title{
    top: -5%;
  }
}

@media (max-width: 1300px){
  .image-author {
    width: 28%; 
  }

  .name-author {
    right: 32.5%;
    font-size: 5.8vw;
  }

  .description{
    right: 12%;
  }

  .button-join {
    width: 180px;
    right: 68%;
  
    .btn {
      padding: 16px;
      font-size: 24px;
      letter-spacing: 4px;
      width: 180px;
     
    }
  }

  .sub-title{
    top: -4.5%;
  }
}

@media (max-width: 1200px){
  .image-author {
    width: 29%;
    right: 10%;
    top: 17%;
  }

  .name-author {
    right: 28.9%;
    font-size: 6vw;
  }

  .description{
    right: 9%;
  }

  .button-join {
    right: 70%;
  }

  .sub-title{  
    h2 {
      font-size: 4.3vw;
  
      span{
        font-size: 4.3vw;
      }
    }
  }
}

@media (max-width: 1100px){
  .image-author {
    right: 9%;
    top: 20%;
  }

  .name-author {
    right: 27.2%;
    font-size: 6.5vw;
  }

  .description{
    right: 8%;
  }

  .button-join {
    right: 72%;
  }

  .sub-title{  
    h2 {
      font-size: 4.5vw;
  
      span{
        font-size: 4.5vw;
      }
    }
  }
}

@media (max-width: 1000px){
  .image-author {
    width: 32%;
    right: 5%;
  }

  .name-author {
    right: 24.8%;
    font-size: 7vw;
  }

  .description{
    right: 4%;
  }

  .button-join {
    width: 160px;
    right: 75%;
    top: 55%;
  
    .btn {
      padding: 14px;
      font-size: 20px;
      width: 160px;
    }
  }

  .sub-title{
    top: -4%;

    h2 {
      font-size: 4.8vw;
  
      span{
        font-size: 4.8vw;
      }
    }
  }
}

@media (max-width: 900px){
  .image-author {
    width: 288px;
    right: 6%;
    top: 22%;
  }

  .name-author {
    right: 26%;
    font-size: 8vw;
    letter-spacing: 13px;
  }

  .description{
    right: 5%;
    top: 70%;
  }

  .button-join {
    right: 72%;
    top: 54%;
  }

  .sub-title{  
    h2 {
      font-size: 5vw;
  
      span{
        font-size: 5vw;
      }
    }
  }
}

@media (max-width: 800px){
  .name-author {
    right: 27%;
    font-size: 8vw;
    letter-spacing: 12px;
  }

  .button-join {
    width: 140px;
    right: 70%;
    top: 68%;
    
    .btn {
      padding: 12px;
      font-size: 18px;
      letter-spacing: 4px;
      width: 140px;
    }
  }

  .description{
    font-size: 24px;
    top: 70%;
  }

  .sub-title{
    top: -3.5%;

    h2 {
      font-size: 5.5vw;
  
      span{
        font-size: 5.5vw;
      }
    }
  }
}

@media (max-width: 650px){
  .image-author {
    width: 260px;
    top: 24%;
  }

  .name-author {
    right: 26%;
    font-size: 10vw;
    letter-spacing: 10px;
  }

  .button-join {
    right: 66%;
    top: 70%;
  }

  .sub-title{
    top: -3%;

    h2 {
      font-size: 5.8vw;
    
      span{
        font-size: 5.8vw;
      }
    }
  }

  .song-categories-filters{
    font-size: 14px;
  }
}

@media (max-width: 500px){
  .image-author {
    width: 230px;
    top: 24%;
  }

  .name-author {
    right: 11%;
    font-size: 12vw;
    letter-spacing: 4px;

    .surname{
      right: -8%;
    }
  }

  .button-join {
    width: 140px;
    right: 59%;
    top: 80%;
    
    .btn {
      padding: 12px;
      font-size: 18px;
      letter-spacing: 4px;
      width: 140px;
    }
  }

  .description{
    top: 64%;
    font-size: 22px;
    letter-spacing: 6px;
  }

  .sub-title{
    top: -2.5%;
    letter-spacing: 12px;

    h2 {
      font-size: 5.8vw;
    
      span{
        font-size: 5.8vw;
      }
    }
  }

  .song-categories-filters{
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .name-author {
    right: 11%;
    font-size: 12vw;
    letter-spacing: 4px;

    .surname{
      right: -8%;
    }
  }

  .song-categories-filters {
    letter-spacing: 0.5px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .name-author {
    right: 0;

    .surname{
      width: 100px;
      right: 61%;
    }
  }

  .button-join {
    right: 50%;
    top: 82%;
  }

  .sub-title{
    padding: 0;
  }

  .song-categories-filters {
    letter-spacing: 0.5px;
    font-size: 10px;
  }
}