//STYLE DLA PODSTRONY HOMEPAGE


//SUBSCRIBE SECTION
.subscribe .splash {
  background-image: url('../../images/subscribe.jpg');
  //pozycja relative dziedziczona z splash z layoutu
}

//AUTHOR IMAGE
.image-author {
  position: absolute;
  // top: 14%;
  // left: 57%;

  img {
    max-width: 430px;
    max-height: 500px;
  }
}

.name-author {
  position: absolute;
  // top: 45%;
  // left: 43%;
  z-index: 2;
  font-size: 80px;
  font-family: $titleFontBold;
  letter-spacing: 10px;

  .surname{
    position: absolute;
    // left: 15%;
    top: 64%;

    span {
      color: #CF383E;
    }
  }
}

.button-join {
  position: absolute;
  // left: 22%;
  // top: 56%;

  .btn {
    padding: 16px;
    font-size: 25px;
    letter-spacing: 4px;
    font-family: $mainFontSemiBold;
  }
}

.description{
  position: absolute;
  // top: 80%;
  padding-right: 17%;
  font-family: $mainFontSemiBold;
  font-size: 27px;
  letter-spacing: 10px;
    
  p {
    margin-bottom: 5px;    
  }
}

.sub-title{
  position: absolute;
  top: -6%;
  letter-spacing: 15px;

  h2 {
    font-size: 4vw;
    font-family: $mainFontSemiBold;

    span{
      font-size: 4vw;
      font-family: $titleFontBold;
    }
  }
}

.footer .container {
  margin-bottom: 0;
  font-family: $regularFont;
  letter-spacing: 2px;
}


//KATEGORIE - STYLE

.song-categories-filters{
  display: flex;
  text-align: left;
  font-family: $regularFont;
  letter-spacing: 1px;
  justify-content: center;
  padding: 0;

  p {
    margin: 0;
    font-family: $mainFontSemiBold;
  }

  .list-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 2px;

      a {
        text-decoration: none; /* Usuwa podkreślenie */
        color: inherit; /* Dziedziczy kolor z rodzica (jeśli jest) */
      }
    }
  }
}


//usunięcie ostatniego przecinka z kategorii
li:not(:last-child)::after {
  content: ',';
}

// @media (max-width: 768px) {
//   .image-author {
//     top: 50%;
//     right: 10%;
//     max-width: 230px;
//     padding: 0;

  
//     img {
//       max-width: 100%;
//       height: auto;
//     }
//   }

//   .name-author {
//     top: 66%;
//     right: 310px;
//     font-size: 72.2px;
//     letter-spacing: 10px;
  
//     .surname{
//       right: -165px;
//     }
//   }

//   .button-join {
//     right: 10%;
//     top: 36%;
//     padding: 0;
//     width: 106px;

//     .btn {
//       width: 106px;
//       padding: 8px;
//       font-size: 16px;
//       letter-spacing: 2px;
//     }
//   }

//   .sub-title {
//     top: -6%;
//     letter-spacing: 12px;
//     padding: 0;
//     left: 0;
  
//     h2 {
//       font-size: 8vw;

//       span{
//         font-size: 9vw;
//       }
//     }
//   }

//   .description{
//     top: 18%;
//     right: 8%;
//     padding-right: 10px;
//     padding-left: 0;
//     font-size: 22px;
//     letter-spacing: 8px;
    
//     .new-album {
//       font-size: 25px;
//     }
//   }

//   .footer .container {
//     margin-bottom: 0;
//     letter-spacing: 2px;
//     font-size: 10px;
//   }

//   .container {
//     margin-bottom: 50px;
//   }

//   .song-categories-filters {
//     //display: block;
//     max-width: 577px;
//     letter-spacing: 1px;

//     p {
//       font-size: 14px;
//       
//     }
//     li {
//       margin-right: 2px;
//       padding-left: 5px;

//       a {
//         font-size: 14px;
//       }
//     }
//   }
// }

@media (max-width: 576px) {
  .image-author {
    top: 50%;
    right: 15%;
    max-width: 200px;
    padding: 0;
  
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .name-author {
    right: 50%; //250px;
    top: 64%;
    font-size: 48px;
    letter-spacing: 8px;
    padding: 0;
  
    .surname{
      right: -117px;
    }
  }

  .button-join {
    right: 15%;
    top: 39%;
    padding: 0;
    width: 96px;
    
    .btn {
      width: 96px;
      padding: 4px;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }

  .sub-title {
    top: -5%;
    letter-spacing: 12px;
    padding: 0;
    left: 0;
  
    h2 {
      font-size: 9vw;
      //width:420px;

      span{
        font-size: 9vw;
      }
    }
  }

  .description{
    width: 400px;
    top: 19%;
    right: 14%;
    padding-right: 0;
    padding-left: 0;
    font-size: 20px;
    letter-spacing: 8px;
    
    .new-album {
      color: #CF383E;
      font-size: 23px;
    }
  }

  .footer .container {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-size: 10px;
  }

  .container {
    margin-bottom: 50px;
  }

  .song-categories-filters {
    display: block;
    width: 420px;
    letter-spacing: 1px;

    p{
      font-size: 13px;
      padding-right: 10px;
    }

    li {
      margin-right: 2px;
      padding-left: 2px;

      a {
        font-size: 13px;
      }
    }
  }
}
