//STYLE DLA PODSTRONY SEARCH

.search-wrapper {
  .title {
    margin-bottom: 50px;

    h2 {
      font-family: $mainFontSemiBold;
      font-size: 40px;
      letter-spacing: 7px;
    }
  }

  .row {
    margin-bottom: 50px;
    font-family: $mainFontSemiBold;

    .name {
      p {
        font-size: 23px;
        letter-spacing: 3px;
      }
    }

    .btn {
      font-size: 16px;
      height: 40px;
      padding-bottom: 4px;
      padding-top: 4px;
      letter-spacing: 3px;
      // font-family: $mainFontSemiBold;
    }
  }

  .search-result-amount{
    font-family: $mainFontSemiBold;
    font-size: 23px;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .search-wrapper {
    padding-right: 12px;
    padding-left: 12px;

    .title {
      h2 {
        font-size: 6vw;
        letter-spacing: 2vw;
      }
    }
  
    .row {
      margin-bottom: 50px;
      
      .name {
        p {
          font-size: 23px;
          letter-spacing: 3px;
        }
      }

      .form-control{
        width: 90%;
      }
  
      .btn {
        font-size: 14px;
        width: 80px;
        padding: 4px;
        letter-spacing: 3px;
      }
    }
  
    .search-result-amount{
      font-size: 20px;
      letter-spacing: 4px;
    }
  }
}