//STYLE DLA PODSTRONY HOMEPAGE


//SUBSCRIBE SECTION
.subscribe .splash {
  background-image: url('../../images/subscribe.jpg');
  //pozycja relative dziedziczona z splash z layoutu
}

//AUTHOR IMAGE
.image-author {
  position: absolute;
  top: 14%;
  left: 57%;

  img {
    max-width: 430px;
    max-height: 500px;
  }
}

.name-author {
  position: absolute;
  top: 45%;
  left: 43%;
  z-index: 2;
  font-size: 80px;
  font-family: $titleFontBold;
  letter-spacing: 10px;

  .surname{
    position: absolute;
    left: 15%;
    top: 64%;

    span {
      color: #CF383E;
    }
  }
}

.button-join {
  position: absolute;
  left: 22%;
  top: 56%;

  .btn {
    padding: 16px;
    font-size: 25px;
    letter-spacing: 4px;
    font-family: $mainFontSemiBold;
  }
}

.description{
  position: absolute;
  top: 80%;
  padding-right: 17%;
  font-family: $mainFontSemiBold;
  font-size: 27px;
  letter-spacing: 10px;
    
  p {
    margin-bottom: 5px;    
  }
}

.sub-title{
  position: absolute;
  top: -6%;
  letter-spacing: 15px;

  h2 {
    font-size: 70px;
    font-family: $mainFontSemiBold;

    span{
      font-size: 70px;   
      font-family:$titleFontBold;
    }
  }
}

.footer .container {
  margin-bottom: 0;
  font-family: $regularFont;
  letter-spacing: 2px;
}