//TYLE GLOBALNE - NIE DOTYCZĄ AI UKŁADU ANI TEKSTU, ALE MOGĄ BYĆ UŻYWANE W WIELU MIEJSCACH, NP. BUTTONY, KTÓRE WYGLĄDAJĄ IDENTYCZNIE W KILKU SEKCJACH

*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $primaryColorBackground;
  color: $primaryColorFonts;

  .container {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
  }
}
  


// SUBPAGES VISABILITY
section {
  display: none;
}

section.active {
  display: block;
}

// @media (max-width: 768px) {
//   body {
//     .container {
//       max-width: 577px;
//       padding-left: 20px;
//       padding-right: 20px;
//     }
//   }
// }

@media (max-width: 576px) {
  body {
    .container {
      max-width: 400px;
    }
  }
}

