//TYLE GLOBALNE - NIE DOTYCZĄ AI UKŁADU ANI TEKSTU, ALE MOGĄ BYĆ UŻYWANE W WIELU MIEJSCACH, NP. BUTTONY, KTÓRE WYGLĄDAJĄ IDENTYCZNIE W KILKU SEKCJACH

*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $primaryColorBackground;
  color: $primaryColorFonts;

  .container {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
  }
}
  


// SUBPAGES VISABILITY
section {
  display: none;
}

section.active {
  display: block;
}
