//TYLE GLOBALNE - NIE DOTYCZĄ AI UKŁADU ANI TEKSTU, ALE MOGĄ BYĆ UŻYWANE W WIELU MIEJSCACH, NP. BUTTONY, KTÓRE WYGLĄDAJĄ IDENTYCZNIE W KILKU SEKCJACH

*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $primaryColorBackground;
  //font-family: $font-text;
  //font-size: 14px;
  //line-height: 1.7;
  //font-weight: $font-normal;
  color: $primaryColorFonts;
}
  
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}



// SUBPAGES VISABILITY
section {
  display: none;
}

section.active {
  display: block;
}

//PLAYER
.green-audio-player {
  width: 450px;
  height: 50px;

  .slider .gap-progress .pin {
    background-color: $secondColorFonts;
  }
}

.player-audio {
  text-align: center; /* Wyśrodkowanie zawartości w poziomie */
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  margin-top: 30px;
  margin-bottom: 30px;
  
  .row {
    text-align: left;
  }

  .player {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}


