*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background: $primaryColorBackground;
  color: $primaryColorFonts;

  .container {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
  }
}

section {
  display: none;
}

section.active {
  display: block;
}

@media (max-width: 500px) {
  body {
    .container {
      max-width: 400px;
    }
  }
}

@media (max-width: 400px) {
  body {
    .container {
      max-width: 350px;
    }
  }
}
