//REGUŁY DOTYCZĄCE UKŁADU STRONY, NP. KLASA CONTAINER, KLASY GRIDOWE ITP.

//HEADER
.splash {
  height: 100vh;              /*wysokosc taka jak okno przegladarki*/
  position: relative;
  background-image: url('../../images/background.jpg');
  background-position: center center;
  background-size: cover;
  //background-attachment: fixed;  /*okresla czy pozycja obrazu jest stala czy przewija sie*/
    
  .page-title  {
    position: absolute;         /*wysrodkowany w obu osiach względem rodzica*/
    width: 100%;
    top: 40%;
    left: 51.5%;
    transform: translate(-50%,-50%);
    text-align: center;

    .page__title{
      font-family: $titleFontBold;
      margin-top: 0;
      margin-bottom: 20px;
      letter-spacing: 92px;
      font-size: 185px;
    }

    .page__subtitle{
      font-family: $titleFontBold;
      letter-spacing: 8px;
      position: absolute;
      // top: 50%;
      left: 47.5%;
      transform: translate(-50%,-50%);
      // font-size:
      font-weight: bold;
      margin-top: 50px;

      h2{
        margin-top: 20px;
      }
    }
  }
}

//GRADIENT-LINE

.gradient-line {
  height: 450px;              /* Wysokość linii ombre */
  background: linear-gradient(to top, $primaryColorBackground, transparent); /* Ombre od dołu do góry */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -19px;
}

//NAVIGATION

.main-nav {
  position: relative;
  z-index: 2; /* Umieść drugą sekcję nad linią ombre */
  height: auto;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    
    a {
      width:130px;
      text-align: center;
      text-decoration: none;
      color: $primaryColorFonts;
      font-family: $mainFontSemiBold;
      font-size: 26px;
      letter-spacing: 2px;
    }
  }
}

//PLAYER
.green-audio-player {
  width: 450px;
  height: 50px;

  .slider .gap-progress .pin {
    background-color: $secondColorFonts;
  }
}

.player-audio {
  text-align: center; /* Wyśrodkowanie zawartości w poziomie */
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  margin-top: 30px;
  margin-bottom: 30px;
  
  .song-description {
    font-family: $mainFontSemiBold;
    letter-spacing: 2px;
    font-size: 28px;
  }

  .row {
    text-align: left;

    .categories{
      font-family: $regularFont;
      letter-spacing: 1px;
      font-size: 16px;
    }
  }

  .player {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

